body {
    font-family: Arial, sans-serif;
    background-image: url('Fondo grafica.jpg'); /* Ruta a la imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #000; /* Color del texto (negro) */
}

h1 {
    text-align: center;
    color: #000; /* Color del título (negro) */
}

.container {
    text-align: center;
    margin-top: 20px;
}

.container a {
    text-decoration: none;
}

.container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; /* Fondo azul */
    color: #ffffff; /* Letra blanca */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3; /* Cambio de tono al pasar el ratón */
}

